{% extends 'base.html' %}

{% block content %}


<div class="jumbotron">
	<h1 class="display-3">Key Education Foundation</h1>
	<p class="lead">Every child deserves a safe,  happy and enriching childhood.</p>
	<hr class="my-4">
	<p>We ensure the best start in life for every child through a quality Early Childhood Education Program.</p>
	<p class="lead">
	  <a class="btn btn-primary btn-lg" href="https://www.keyeducationfoundation.org/" role="button">Learn more about our upcoming workshops!</a>
	</p>
</div>

<div class="row my-sm-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <h1><i class="fas fa-user-tie"></i></h1>
          <h3 class="card-title">Maths</h3>
          <hr />
          <div>
            <a href="https://www.youtube.com/playlist?list=PL7eKoJuwryW6mHu0w-Oh-7raI24YK6Yjw" class="card-link">
              <div class="btn btn-primary">Start Learning</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <h1><i class="fas fa-user"></i></h1>
          <h3 class="card-title">Science</h3>
          <hr />
          <div>
            <a href="https://www.youtube.com/playlist?list=PL7A9646BC5110CF64" class="card-link">
              <div class="btn btn-primary">Start Learning</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-sm-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <h1><i class="fas fa-poll-h"></i></h1>
          <h3 class="card-title">English Grammer Lessons</h3>
          <hr />
          <div>
            <a href="https://www.youtube.com/playlist?list=PL6CQ7apI_8PjSBN8BxukW5Z76k8lRMQEf" class="card-link">
              <div class="btn btn-primary">Start Learning</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body" style="text-align: center;">
          <h1><i class="fas fa-users"></i></h1>
          <h3 class="card-title">Computer Science</h3>
          <hr />
          <div>
            <a href="https://www.youtube.com/watch?v=husPzLE6sZc&list=PL36E7A2B75028A3D6" class="card-link">
              <div class="btn btn-primary">Start Learning</div>
            </a>
          </div>
        </div>
      </div>
	</div>
	


{% endblock %}
