
{% extends "teacher-base.html" %}
{% block title %}Teacher Dashboard{% endblock %}


{% block content %}
<br><br>
<div="container-fluid">
<h1 style="text-align:center">EVS</h1>
<br>

<table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col">Sno.</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sink and Float<br><div class="text-muted">Watch the video to understand how to teach children the concept of Sink and Float.</div></td>
      <td><a href="https://www.youtube.com/watch?v=1VzV73iCo5g&list=PLi7eEmku9VQLADR7Pk5-FnuzD4lsdkehJ">Learn Here !</a></td>
   
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>Rooms of School<br><div class="text-muted">In this activity you will be shown the correct method </div></td>
      <td><a href="https://www.youtube.com/watch?v=vSQ67cpRsQo&list=PLi7eEmku9VQLV_A2Vf5rgGxUrmG61L_k3&index=2">Learn Here !</a></td>
   
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>What dissolves in water and what does not<br><div class="text-muted">Some Descripton</div></td>
      <td><a href="https://www.youtube.com/watch?v=qnZtDo93otk&list=PLi7eEmku9VQLADR7Pk5-FnuzD4lsdkehJ&index=3">Learn Here !</a></td>
   
    </tr>
  </tbody>
</table>
</div>
{% endblock %}