
{% extends "teacher-base.html" %}
{% block title %}Teacher Dashboard{% endblock %}


{% block content %}
<br><br>
<div="container-fluid">
<h1 style="text-align:center"> Maths</h1>
<br>

<table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col">Sno.</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>How to Write numbers 1-5<br><div class="text-muted">In this activity you will be shown the correct method to write the numbers from 1 - 5</div></td>
      <td><a href="https://www.youtube.com/watch?v=iVuEfg4KSk4&list=PLi7eEmku9VQLV_A2Vf5rgGxUrmG61L_k3&index=1">Learn Here !</a></td>
   
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>How to write numbers 6-10<br><div class="text-muted">In this activity you will be shown the correct method to write the numbers from 6 - 10</div></td>
      <td><a href="https://www.youtube.com/watch?v=vSQ67cpRsQo&list=PLi7eEmku9VQLV_A2Vf5rgGxUrmG61L_k3&index=2">Learn Here !</a></td>
   
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Counting on fingers<br><div class="text-muted">In this activity you will be shown the correct method to write the numbers from 6 - 10</div></td>
      <td><a href="https://www.youtube.com/watch?v=DBcYhYCLBM8&list=PLi7eEmku9VQLV_A2Vf5rgGxUrmG61L_k3&index=3">Learn Here !</a></td>
   
    </tr>
  </tbody>
</table>
</div>
{% endblock %}