
{% extends "teacher-base.html" %}
{% block title %}Teacher Dashboard{% endblock %}


{% block content %}
<br><br>
<div="container-fluid">
<h1 style="text-align:center">Social Emotional Learning</h1>
<br>

<table class="table table-hover table-bordered ">
  <thead>
    <tr>
      <th scope="col">Sno.</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Introduction to  Feelings part-1<br><div class="text-muted">Introducing Feelings - HAPPY and SAD ( any description can be added here )</div></td>
      <td><a href="https://www.youtube.com/watch?v=S7RJiRrIxAg&list=PLi7eEmku9VQKmjYMjBDeJ3uurw07Ktupf">Learn Here !</a></td>
   
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>Introducing feelings part-2<br><div class="text-muted">Introducing Feelings - HAPPY and SAD</div></td>
      <td><a href="https://www.youtube.com/watch?v=zbAUixz-o70&list=PLi7eEmku9VQKmjYMjBDeJ3uurw07Ktupf&index=2">Learn Here !</a></td>
   
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Introducing Feelings part-3<br><div class="text-muted">Some Descripton</div></td>
      <td><a href="https://www.youtube.com/watch?v=vfjQsNXbfqE&list=PLi7eEmku9VQKmjYMjBDeJ3uurw07Ktupf&index=3">Learn Here !</a></td>
   
    </tr>
  </tbody>
</table>
</div>
{% endblock %}